table {
/*  height: 100%;
  width: 100%;*/
  border-color: dimgrey;
  background-color: #fbfbfb;
  border-collapse: collapse;
}

tr {
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;*/
}

th {
  padding: 3px;
  border: 1px solid grey;
  background: lightgrey;
}
