.button-page {
  margin: 5px 5px;
  width: 30px;
}


a {
  text-decoration: none;
  color: #393939;
}

button:hover {
  background: #cbcbcb;
  border: 1px solid #393939;
}

button:active {
  border: 1px solid #393939;
  background: #cbcbcb;
}
