<ng-container *ngFor="let node of nodes">
  <tr>
    <td>
      <div class="column-name" [ngStyle]="{'margin':'0px 5px 0px '+ node?.level*20+'px'}">
        <button (click)="openOrCloseChildren(node, node?.isOpened? 1 : 0)" *ngIf="node?.level == 1 || node?.level == 2">
            {{node?.isOpened ? '-' : '+'}}
        </button>
       {{node?.name}}
      </div>
    </td>
    <td> {{node?.nodeId}}</td>
    <td><a href={{node?.url}} target=_blank>{{node?.url}}</a></td>
  </tr>
  <app-node-tree [ngClass]="{'isOpen': node?.isOpened}" [nodes]="node?.child" *ngIf="node?.isOpened" (openedChild)="openChildren($event)"></app-node-tree>
</ng-container>
