/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  overflow: auto;
}

app-root {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
